body {
  font-family: 'Merriweather', Georgia, serif;
}
p {
  margin: 10px auto;
  padding: 6px 10px;
  font-weight: 300;
  font-size: 50px;
  line-height: 65px;
  color: #767779
}
.index .links {
  display: -webkit-flex;
  max-width: 300px;
  margin: 10px auto;
}
.index .links .link {
  margin: 0 10px;
  width: 50px;
  font-size: 48px;
  display: inline-block;
}
.index .links .link a {
  color: #939597;
}
.index .links .link a:hover .fa {
  color: #00B800;
  text-decoration: none;
  border-bottom: 2px solid #00B800;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}